.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
/**/*.DS_Store
/**/**/*.DS_Store
/Data/Alzheimers/**/*.tsv
/Data/Alzheimers/**/*.txt
/Data/Parkinsons/**/*.tsv
/Data/Parkinsons/**/*.txt
/Data/Parkinsons/**/*.dat
/Data/HRC.RSID.txt
*.vcf.gz.tbi
*.vcf.gz
*.vcf
