.Rproj.user
.Rhistory
.RData
.Ruserdata
core.*
.DS_Store
/**/*.DS_Store
/**/**/*.DS_Store
/Data/GWAS/**/**/*.tsv
/Data/GWAS/**/*.txt.gz
#/Data/QTL/**/**/*.txt
/Data/QTL/**/**/*.txt.gz 
#/Data/**/**/**/*.txt
/Data/GWAS/Nalls23andMe_2019/nallsEtAl2019_allSamples_allVariants.mod.txt
/Data/**/**/_genome_wide/COJO/cojo-file.ma  

/Data/**/**/plink
/Data/Reference/**/**/*.vcf
/Data/Reference/**/**/*.vcf.gz
Manuscripts/
/Data/**/**/**/FINEMAP/data.ld
/Data/**/**/**/plink/LD_matrix.RData

# Annotations
/echolocatoR/tools/Annotations/*.rds
/echolocatoR/tools/Annotations/psychENCODE/DER-08a_hg19_eQTL.significant.txt
/echolocatoR/tools/Annotations/psychENCODE/DER-10a_hg19_isoQTL.significant.txt
/echolocatoR/tools/Annotations/psychENCODE/*.txt.gz
/echolocatoR/tools/Annotations/ROADMAP/Chromatin_Marks/

# Genome-wide analyses
/Data/**/**/_genome_wide/fGWAS/Input/annotations.Nalls23andMe_2019.txt 
/Data/**/**/_genome_wide/PolyFun/sumstats_munged.parquet
## PolyFun
#/Data/**/**/_genome_wide/PolyFun/output/
